.home-container {
  background: #1f2324;
  width: 100%;
  height: 900px;
}
.header {
  
}
.logo {
  color: white;
}
.navbar-links{
  color: whitesmoke;
}
.typing-name {
  overflow: hidden;
  white-space: nowrap;
  color: white;
  position: absolute;
  top: 35%;
  letter-spacing: 0.15em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  transform: translateY(-35%);
  animation: typingAnim 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typingAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
